# Django
Django==4.2.11
djangorestframework==3.14.0
django-environ==0.10.0
django-cors-headers==4.3.1
django-crispy-forms==2.1
whitenoise==6.5.0
gunicorn==21.2.0

# Database
psycopg2-binary==2.9.9

# ML + Data
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
matplotlib==3.8.4
seaborn==0.13.2
plotly==5.22.0

# NLP + PDF
nltk==3.8.1
reportlab==4.2.0
xhtml2pdf==0.2.8
Pillow==10.2.0

# Build tools
setuptools==70.0.0
wheel==0.43.0
